MNEMOSYNE_STORAGE_BACKEND=surreal
SURREAL_URL=http://127.0.0.1:8000

SURREAL_PORT=8000
SURREAL_NAMESPACE=mnemosyne
SURREAL_DATABASE=mnemosyne

SURREAL_ROOT_USERNAME=root
SURREAL_ROOT_PASSWORD=root

SURREAL_USERNAME=mnemosyne
SURREAL_PASSWORD=mnemosyne
SURREAL_DATABASE_ROLE=EDITOR
