MNEMOSYNE_STORAGE_BACKEND=arcade
MNEMOSYNE_DOMAIN_POLICY_ENABLED=false
MNEMOSYNE_ACCESS_CONTEXT_HEADERS_ENABLED=false
MNEMOSYNE_SAFE_PROJECTIONS_ENABLED=false
MNEMOSYNE_ACCESS_AUDIT_ENABLED=false
API_PORT=8180

ARCADE_URL=http://127.0.0.1:2480
ARCADE_PORT=2480
ARCADE_DATABASE=mnemosyne
ARCADE_USERNAME=root
ARCADE_PASSWORD=mnemosyne-root
